.nav-item {
  display: inline-block;
}
.nav-item > a,
.nav-item > .nav-link,
[class*="u-tab-link"]:not([class*="-icon"]) {
  transition-property: color, background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) {
  display: block; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .nav-item {
  display: inline-block; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .js-tabs-mobile {
  position: relative;
  display: none; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .js-tabs-mobile-control {
  position: relative;
  display: block; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .js-tabs-mobile-control::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 3.5px 0 3.5px;
  border-style: solid;
  border-color: #777 transparent transparent transparent;
  margin-top: -1px; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .js-tabs-mobile .nav-inner {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  display: none;
  background-color: #fff;
  border: 1px solid;
  padding-left: 0; }

[role="tablist"]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]):not([data-scroll]) .js-tabs-mobile .nav-inner .nav-item {
  display: block;
  white-space: nowrap; }

[data-scroll]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]) {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden; }

[data-scroll]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"])::-webkit-scrollbar {
  display: none; }

@-moz-document url-prefix() {
  [data-scroll]:not([data-tabs-mobile-type="slide-up-down"]):not([data-tabs-mobile-type="accordion"]) {
    padding-bottom: 15px; } }

@media (min-width: 768px) {
  [data-scroll] {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; }
  [data-scroll]::-webkit-scrollbar {
    display: none; }
  @-moz-document url-prefix() {
    [data-scroll] {
      padding-bottom: 15px; } } }



@media (min-width: 768px) {
  [class*="u-nav-v2"] .nav-link {
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    margin-left: -1px; }
  [class*="u-nav-v2"] .nav-item:first-child .nav-link {
    margin-left: 0; }
  [class*="u-nav-v2"].flex-column .nav-link {
    margin: -1px 0 0; }
  [class*="u-nav-v2"].flex-column .nav-item:first-child .nav-link {
    margin-top: 0; }
  [class*="u-nav-v2"].u-nav-primary .nav-link {
    border-color: #72c02c; }
  [class*="u-nav-v2"].u-nav-primary .nav-link.active,
  [class*="u-nav-v2"].u-nav-primary .cbp-filter-item-active .nav-link {
    border-color: #72c02c !important; }
  [class*="u-nav-v2"].u-nav-dark .nav-link {
    border-color: #333; }
  [class*="u-nav-v2"].u-nav-dark .nav-link.active,
  [class*="u-nav-v2"].u-nav-dark .cbp-filter-item-active .nav-link {
    border-color: #333 !important; }
  [class*="u-nav-v2"].u-nav-light .nav-link {
    color: #fff;
    border-color: #fff; }
  [class*="u-nav-v2"].u-nav-light .nav-link.active,
  [class*="u-nav-v2"].u-nav-light .cbp-filter-item-active .nav-link {
    border-color: #fff !important; }
  [class*="u-nav-v2"].u-nav-rounded-3 .nav-item:first-child .nav-link {
    border-radius: 3px 0 0 3px; }
  [class*="u-nav-v2"].u-nav-rounded-3 .nav-item:last-child .nav-link {
    border-radius: 0 3px 3px 0; }
  [class*="u-nav-v2"].u-nav-rounded-3.flex-column .nav-item:first-child .nav-link {
    border-radius: 3px 3px 0 0; }
  [class*="u-nav-v2"].u-nav-rounded-3.flex-column .nav-item:last-child .nav-link {
    border-radius: 0 0 3px 3px; }
  [class*="u-nav-v2"].u-nav-rounded-5 .nav-item:first-child .nav-link {
    border-radius: 5px 0 0 5px; }
  [class*="u-nav-v2"].u-nav-rounded-5 .nav-item:last-child .nav-link {
    border-radius: 0 5px 5px 0; }
  [class*="u-nav-v2"].u-nav-rounded-5.flex-column .nav-item:first-child .nav-link {
    border-radius: 5px 5px 0 0; }
  [class*="u-nav-v2"].u-nav-rounded-5.flex-column .nav-item:last-child .nav-link {
    border-radius: 0 0 5px 5px; }
  [class*="u-nav-v2"].u-nav-rounded-7 .nav-item:first-child .nav-link {
    border-radius: 7px 0 0 7px; }
  [class*="u-nav-v2"].u-nav-rounded-7 .nav-item:last-child .nav-link {
    border-radius: 0 7px 7px 0; }
  [class*="u-nav-v2"].u-nav-rounded-7.flex-column .nav-item:first-child .nav-link {
    border-radius: 7px 7px 0 0; }
  [class*="u-nav-v2"].u-nav-rounded-7.flex-column .nav-item:last-child .nav-link {
    border-radius: 0 0 7px 7px; }
  [class*="u-nav-v2"].u-nav-rounded-10 .nav-item:first-child .nav-link {
    border-radius: 10px 0 0 10px; }
  [class*="u-nav-v2"].u-nav-rounded-10 .nav-item:last-child .nav-link {
    border-radius: 0 10px 10px 0; }
  [class*="u-nav-v2"].u-nav-rounded-10.flex-column .nav-item:first-child .nav-link {
    border-radius: 10px 10px 0 0; }
  [class*="u-nav-v2"].u-nav-rounded-10.flex-column .nav-item:last-child .nav-link {
    border-radius: 0 0 10px 10px; }
  .u-nav-v2-1 .nav-link.active,
  .u-nav-v2-1 .cbp-filter-item-active .nav-link {
    background-color: #eee; }
  .u-nav-v2-1.u-nav-primary .nav-link.active,
  .u-nav-v2-1.u-nav-primary .cbp-filter-item-active .nav-link {
    color: #fff;
    background-color: #72c02c; }
  .u-nav-v2-1.u-nav-dark .nav-link.active,
  .u-nav-v2-1.u-nav-dark .nav-link.cbp-filter-item-active {
    color: #fff;
    background-color: #333; }
  .u-nav-v2-1.u-nav-light .nav-link.active,
  .u-nav-v2-1.u-nav-light .nav-link.cbp-filter-item-active {
    color: #333;
    background-color: #fff; }
  .u-nav-v2-2 .nav-link.active,
  .u-nav-v2-2 .cbp-filter-item-active .nav-link {
    color: #72c02c; } }
